body{
    background-color: #292929;
    align-items: top;
    justify-content: space-around;
}
#b2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b5{
    width: 300px;
    color: #bababa;
}
.a6{
    padding-left: 15px;
}


.NavBar {
    background-color: #171616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px
}
.NavBar2 {
    color: #bababa;
    font-size: 25px;
    margin: 20px;
}
.Main{
    align-items: top;
    justify-content: space-evenly;
    display: flex;

}
.LeftMain{
    width: 45%;
    border-color: grey;
    border-style: solid;
    margin: 10px;
    padding: 10px;

}
.RightMain{
    width: 45%px;
    border-color: grey;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}