<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
    <div class="NavBar">
        <h2 class="NavBar2">File Renamer</h2>
        <nav class="NavBar">
            <p class="NavBar2">{{user.first_name}} {{ user.last_name}}</p>
            <button class="NavBar2"><a href="/dashboard">Dashboard</a></button>
            <button class="NavBar2"><a href="/logout">Logout</a></button>
        </nav>
    </div>
    <div>
        <p>Name of File: {{renamer.name}}</p>
        <p>Date: {{renamer.date}}</p>
    </div>
</body>
</html>