<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
    <div class="NavBar">
        <h2 class="NavBar2">File Renamer</h2>
        <nav class="NavBar">
            <p class="NavBar2">{{user.first_name}} {{ user.last_name}}</p>
            <button class="NavBar2"><a href="/dashboard">Dashboard</a></button>
            <button class="NavBar2"><a href="/logout">Logout</a></button>
        </nav>
    </div>
    <div class="Main">
        <div class="LeftMain">
            <h3 class="b5">File Number {{renamer.id}}</h3>
            <p class="b5">Original Name: {{renamer.name}}</p>
            <p class="b5">Original Date Time: {{renamer.date}}</p>
            <p class="b5">Unix Date Time: {{renamer.unixdate}}</p>
        </div>
        <div class="RightMain">
            <h3 class="b5">Explanations</h3>
            <p class="b5">why change your filenames?</p>
            <p class="b5">Often times you save files from many different places, each with their own way of naming files, and it can be nice to have a single naming scheme for files on your computer.</p>
            <p class="b5">The nice thing about using unix time is being able to see when the file was saved at a glance. Unix time is the number of seconds since january 1st 1970, a sort of arbitrary date to make sure that all unix timestamps will be positive numbers.</p>
        </div>
    </div>
</body>
</html>